html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset css */

html{ 
	background-image: url('img/1.jpg');
	background-size: cover;
	/*background-repeat: no-repeat;*/
}

.ground h1{
	font-size: 4em;
	font-family: 'Gotu', sans-serif;
	color: white;
	text-align: center;
	width: 60%;
    margin: 0 auto;
    margin-top: 0.5em;
}

#content{
    width: 100%;
    height: 100vh;
    display: inline-flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 6em;
}

.stylefilm{
	width: 30%;
    height: fit-content;
    background-color: #1d518ea8;
    margin: 1em;
	padding: 1em;
	border-radius: 1em;
}

article{
	transition: transform .5s;
}

article:hover{
	transform: scale(1.1);
	transition: transform .5s;
	z-index: 1;
}

.stylefilm h1{
	font-family: 'Rubik', sans-serif;
	font-size: 1.5em;
	color: #696cff;
}

.stylefilm h2, h3{
	font-family: 'Rubik', sans-serif;
	font-style: italic;
	color: azure;

}

.stylefilm p{
	color: azure;
}
